body {
    color: black;
    background-color: #e53f71;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
header {
text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: impact, sans-serif;
    font-size: 200%;
}
#hero, footer {
    text-align: center;
    background-color: #653780;
    color: black;
    padding: 20px;
    border: 10px outset #3f1651;
    border-radius: 40px;
}
#hero img {
    width: 300px;
}
#bio {
    text-align: center;
}