body{
    color:whitesmoke;
    background-color: #1d1c20;
    font-family: 'Sans', Arial, sans-serif;
} 
header {
text-align: center;
}
#header img {
    width: 150px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 200%;
    text-align: center;
}
img{
    max-width: 100%;
}

#hero, footer {
    text-align: center;
    background-color: #ff4545;
    color: whitesmoke;
    padding: 20px;
    border: 10px outset #973336;
    border-radius: 40px;
}
#hero img {
    width: 300px;
    /* Bio */
}
#bio {
    text-align: center;
}

/* Smash characters */
#hobbies ul li:nth-child(odd) {
    color: #717EC3;
}
/* Gallery */
#gallery {
    border: 10px outset #973336;
    border-radius: 20px;
    text-align: center;
    background-color: #ff4545;
}
#gallery hr {
    border: none;
}