body {
    color: whitesmoke;
    background-color: #1d1c20;
    font-family: 'Sans', Arial, sans-serif;
}

header {
    text-align: center;
}

#header img {
    width: 150px;
}
h1 {
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 250%;
    text-align: center;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 200%;
    text-align: center;
}

img {
    max-width: 100%;
}

#hero,
footer {
    text-align: center;
    background-color: #ff4545;
    color: whitesmoke;
    padding: 20px;
    border: 10px outset #973336;
    border-radius: 40px;
}

#hero img {
    width: 300px;
    /* Bio */
}

#bio {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hobbies */
#hobbies {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#hobbies ul {
    text-align: center;
    margin-bottom: 1.75cm;
}
#hobbies ul li:nth-child(odd) {
    color: #717EC3;
}

/* Gallery */
#gallery {
    border: 10px outset #973336;
    border-radius: 20px;
    text-align: center;
    background-color: #ff4545;
}

#gallery hr {
    border: none;
}

/* Article */

#lit {
    text-align: justify;
}

#lit div {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

/* Dropcaps */
#lit p:first-letter {
    color: #ff4545;
    float: left;
    text-shadow: 0px 0px 3px #973336;
    font-size: .75cm;
    border: 2px solid #ff4545;
    margin-right: .25ex;
    line-height: 100%;
    padding: .1ex;
}
#lit p {
    clear:both;
}
/* Video */

#videocontainercontainer {
    max-width: 100%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#videocontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;   /*16:9 = 56.35%
                        4:3 = 75% */
}

#myvideo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#videocaption {
text-align: center;
padding-bottom: 1em;
}

/* Contact Form */

#formElements {
    display: grid;
}

/* Screen size */

@media screen and (min-width: 60em) {

    #gallery figure {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    #lit div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        max-width:100%;
        columns: 40rem;
    }
}

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}